body {
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    text-align: center;
    margin: 20px 0;
}

.banner {
    text-align: center;
    margin: 20px 0;
}

.banner img {
    width: 100%;
    max-width: 800px;
    height: auto;
    
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 10px;
}

.gallery-item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: black;
}

.modal-contemt {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    right: 35px;
    color: aliceblue;
    font-family: bold;
    transition: 0.3;
}
.close:hover,.close:focus {
    color: aliceblue;
    text-decoration: none;
    cursor: pointer
}